.menuItem {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
    color: inherit;
}

/* Change the link color to #111 (black) on hover */
.menuItem:hover {
    background-color: #111;
    text-decoration: none;
}

.menuItemActive {
    composes: menuItem;
    color: black;
    background-color: white;
}

.menuItemActive:hover {
    background-color: white;
}

.menuItemRight {
    composes: menuItem;
    margin-left: auto;
}