.menuList {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--menu-default-background-color);
    color: var(--menu-default-color);
}

.menuItem {
    height: 100%;
    background-color: inherit;
    color: inherit;
    float: left;
}

.menuItemActive {
    composes: menuItem;
    background-color: var(--menu-active-background-color);
    color: var(--menu-active-color);
}

.menuItemRight {
    composes: menuItem;
    float: right;
}

.menuLink {
    display: block;
    text-align: center;
    background-color: inherit;
    color: inherit;
    height: 100%;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menuLink:hover {
    background-color: var(--menu-hover-background-color);
    text-decoration: none;
}

.menuLinkActive {
    composes: menuLink;
}

/* Don't change the link color on hover for the active section */
.menuLinkActive:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}